{
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "jest"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "trailingComma": "none",
      "bracketSpacing": true,
      "singleQuote": true,
    }]
  }
}
